In [1]:
import pandas as pd
import numpy as np
import pandasql as psql

import matplotlib.pyplot as plt

## Read the data

In [2]:
db = pd.read_csv("db.csv")

In [3]:
db

,dt,dttm,user_id,order_id,card_id,amount
0,2022-09-07,2022-09-07 03:08:15,288981,c8b783b9d0a80c01,NaN,349.69
1,2022-09-05,2022-09-05 21:50:53,73078,1a04f965818a8533,NaN,348.61
2,2022-09-07,2022-09-07 21:07:51,840231,d58cc99982459ca8,card_27253445de7e4ce1,338.20
3,2022-09-26,2022-09-26 13:22:26,941870,d28a3097fa7cf63a,card_e1c1c18c55ad8fad,350.84
4,2022-09-12,2022-09-12 02:08:12,78581,99ba5c4097c6b8fe,card_e74c628e8a944744,349.94
...,...,...,...,...,...,...
9995,2022-09-28,2022-09-28 15:26:50,763283,ba1b3eba322eab5d,card_a598e7d200bf0255,359.77
9996,2022-09-24,2022-09-24 16:34:11,646422,c3e0c62ee91db8dc,NaN,348.19
9997,2022-09-17,2022-09-17 01:21:43,492140,82edc5c9e2103567,card_129f7e8b78dd0ea4,348.92
9998,2022-09-14,2022-09-14 17:30:54,851960,0ed9422357395a0d,card_e743a09119938490,350.10
9999,2022-09-28,2022-09-28 06:10:49,787508,9308b0d6e5898366,NaN,342.67

## Basic queries

**[EXAMPLE]** Grep all rows and all columns

In [4]:
q = """
SELECT
    *
FROM db
"""

print(psql.sqldf(q))

              dt                 dttm  user_id          order_id  \
0     2022-09-07  2022-09-07 03:08:15   288981  c8b783b9d0a80c01
1     2022-09-05  2022-09-05 21:50:53    73078  1a04f965818a8533
2     2022-09-07  2022-09-07 21:07:51   840231  d58cc99982459ca8
3     2022-09-26  2022-09-26 13:22:26   941870  d28a3097fa7cf63a
4     2022-09-12  2022-09-12 02:08:12    78581  99ba5c4097c6b8fe
...          ...                  ...      ...               ...
9995  2022-09-28  2022-09-28 15:26:50   763283  ba1b3eba322eab5d
9996  2022-09-24  2022-09-24 16:34:11   646422  c3e0c62ee91db8dc
9997  2022-09-17  2022-09-17 01:21:43   492140  82edc5c9e2103567
9998  2022-09-14  2022-09-14 17:30:54   851960  0ed9422357395a0d
9999  2022-09-28  2022-09-28 06:10:49   787508  9308b0d6e5898366

                    card_id  amount
0                      None  349.69
1                      None  348.61
2     card_27253445de7e4ce1  338.20
3     card_e1c1c18c55ad8fad  350.84
4     card_e74c628e8a944744  349.94
...                     ...     ...
9995  card_a598e7d200bf0255  359.77
9996                   None  348.19
9997  card_129f7e8b78dd0ea4  348.92
9998  card_e743a09119938490  350.10
9999                   None  342.67

[10000 rows x 6 columns]

**[EXAMPLE]** Grep all `user_id` and `order_id` pairs

In [5]:
q = """
SELECT
    user_id,
    order_id
FROM db
"""

print(psql.sqldf(q))

      user_id          order_id
0      288981  c8b783b9d0a80c01
1       73078  1a04f965818a8533
2      840231  d58cc99982459ca8
3      941870  d28a3097fa7cf63a
4       78581  99ba5c4097c6b8fe
...       ...               ...
9995   763283  ba1b3eba322eab5d
9996   646422  c3e0c62ee91db8dc
9997   492140  82edc5c9e2103567
9998   851960  0ed9422357395a0d
9999   787508  9308b0d6e5898366

[10000 rows x 2 columns]

**[EXAMPLE]** Grep 100 `order_ids`

In [6]:
q = """
SELECT
    order_id
FROM db
LIMIT 100
"""

print(psql.sqldf(q))

            order_id
0   c8b783b9d0a80c01
1   1a04f965818a8533
2   d58cc99982459ca8
3   d28a3097fa7cf63a
4   99ba5c4097c6b8fe
..               ...
95  d139db6a236200b2
96  8d3215ae97598264
97  46f5ffb3777b7659
98  07bb5fdef1ee99d3
99  94c4dd41f9dddce6

[100 rows x 1 columns]

**[EXAMPLE]** Grep `dts` and `order_ids` that were on Sep 13th

In [7]:
q = """
SELECT
    dt,
    order_id
FROM db
WHERE dt == "2022-09-13"
"""

print(psql.sqldf(q))

             dt          order_id
0    2022-09-13  c2ba1bc54b239208
1    2022-09-13  87ae6fb631f7c8a6
2    2022-09-13  1147dc16a8e1b44e
3    2022-09-13  1bf2efbbe0c49b9f
4    2022-09-13  076023edc9187cf1
..          ...               ...
351  2022-09-13  cd474f6341aeffd6
352  2022-09-13  b53477c2821c1bf0
353  2022-09-13  1ef91c212e30e14b
354  2022-09-13  16bb35ba24bac33d
355  2022-09-13  e721a54a8cf18c85

[356 rows x 2 columns]

**[EXAMPLE]** Grep `dttms` and `order_ids` that were on Sep 13th before **9 AM**. 

**Order** the input by date and time

In [8]:
q = """
SELECT
    dttm,
    order_id
FROM db
WHERE 
    dt == "2022-09-13"
    AND dttm <= "2022-09-13 08:59:59"
ORDER BY dttm
"""

print(psql.sqldf(q))

                    dttm          order_id
0    2022-09-13 00:01:18  51a472c08e21aef5
1    2022-09-13 00:02:39  e105b88b3e1ac23e
2    2022-09-13 00:05:45  63eb58bd4d3486f0
3    2022-09-13 00:06:44  37d097caf1299d9a
4    2022-09-13 00:12:52  c36b1132ac829ece
..                   ...               ...
132  2022-09-13 08:44:28  78421a2e0e1168e5
133  2022-09-13 08:46:43  6b4e2b9376139fa0
134  2022-09-13 08:47:37  305ddad049f65a2c
135  2022-09-13 08:51:26  dca49d1a5928cb1c
136  2022-09-13 08:53:06  4c525a48acc0084b

[137 rows x 2 columns]

## Aggregations

**[EXAMPLE]** Count rows in the table

In [9]:
q = """
SELECT
    COUNT(*)
FROM db
"""

print(psql.sqldf(q))

   COUNT(*)
0     10000

**[EXAMPLE]** Count number of distinct users

In [10]:
q = """
SELECT
    COUNT(DISTINCT user_id)
FROM db as dbex;
"""

print(psql.sqldf(q))

   COUNT(DISTINCT user_id)
0                     5310

**[EXAMPLE]** Count number of orders with non-empty cards

In [11]:
q = """
SELECT
    COUNT(card_id)
FROM db
"""

print(psql.sqldf(q))

   COUNT(card_id)
0            7427

**[TASK 1]** Find rate of orders that were payed by card

In [12]:
q = """
SELECT
    CAST(COUNT(card_id) AS FLOAT)/COUNT(*) AS `Rate of orders`
FROM db
"""

q = """
SELECT
    COUNT(card_id)*1.0/COUNT(*) AS `Rate of orders`
FROM db
"""

print(psql.sqldf(q))

   Rate of orders
0          0.7427

**[TASK 2]** Find the largest order cost

In [13]:
q = """
SELECT
    MAX(amount)
FROM db
"""

print(psql.sqldf(q))

   MAX(amount)
0       408.52

**[TASK 3]** Find number of percents by which the most expensive order is bigger than average order. Round to 2 digits afer the comma

In [14]:
q = """
SELECT
    ROUND((MAX(amount) - AVG(amount)) / MAX(amount) * 100, 2)
FROM db
"""

print(psql.sqldf(q))

   ROUND((MAX(amount) - AVG(amount)) / MAX(amount) * 100, 2)
0                                              14.31

**[TASK 4]** Count number of users that have made an order with amount larger then 400

In [15]:
q = """
SELECT
    COUNT(DISTINCT user_id) AS `Number of users that have made order with amount laher than 400`
FROM db
WHERE 
    amount > 400
"""

print(psql.sqldf(q))

   Number of users that have made order with amount laher than 400
0                                                  5

**[TASK 5]** Find sum of all orders payed by card

In [16]:
q = """
SELECT 
    SUM(amount)
FROM db
WHERE
    card_id IS NOT NULL
"""

print(psql.sqldf(q))

   SUM(amount)
0   2599385.71

## GROUP BY and SUBQUERIES

**[EXAMPLE]** Get number of orders per each user. Sort the output by the number of orders descending

In [17]:
q = """
SELECT
    user_id,
    COUNT(order_id) AS orders_cnt
FROM db
GROUP BY user_id
ORDER BY orders_cnt DESC
"""

print(psql.sqldf(q))

      user_id  orders_cnt
0      140054           8
1      723085           7
2      607597           7
3      466442           7
4      958068           6
...       ...         ...
5305     2379           1
5306     2272           1
5307     1936           1
5308     1767           1
5309     1183           1

[5310 rows x 2 columns]

**[EXAMPLE]** Find user_ids that have spent more than 1000 amnt

In [18]:
q = """
SELECT
    user_id
FROM db
GROUP BY user_id
HAVING SUM(amount) > 1000
"""

print(psql.sqldf(q))

      user_id
0         700
1        1386
2        1979
3        2357
4        3980
...       ...
1197   995646
1198   995807
1199   996769
1200   997780
1201   999663

[1202 rows x 1 columns]

**[EXAMPLE]** Lets call a user lifetime  a difference in days between first order and last order. Find all users lifetimes and sort by them in a descending order

In [19]:
q = """
SELECT
    user_id,
    CAST(strftime("%d", MAX(dt)) AS Int32) - CAST(strftime("%d", MIN(dt)) AS Int32) AS diff
FROM db
GROUP BY user_id
ORDER BY diff DESC
"""

print(psql.sqldf(q))

      user_id  diff
0      957002    29
1      769577    29
2      721349    29
3      545598    29
4      336668    29
...       ...   ...
5305     2379     0
5306     2272     0
5307     1936     0
5308     1767     0
5309     1183     0

[5310 rows x 2 columns]

**[TASK 6]** Calculate average user lifetime

In [20]:
q = """
SELECT
    AVG(diff) AS `STD LIFETIME`
FROM (SELECT
    user_id,
    CAST(strftime("%d", MAX(dt)) AS Int32) - CAST(strftime("%d", MIN(dt)) AS Int32) AS diff
FROM db
GROUP BY user_id
ORDER BY diff DESC)
"""

print(psql.sqldf(q))

   STD LIFETIME
0       6.87194

In [21]:
q = """
SELECT
    user_id, CAST(strftime("%d", AVG(dt)) AS Int32) AS `AVG TIME`
FROM db
GROUP BY user_id
"""

print(psql.sqldf(q))

      user_id  AVG TIME
0         700         7
1         956         7
2         975         7
3        1183         7
4        1386         7
...       ...       ...
5305   999428         7
5306   999591         7
5307   999663         7
5308   999750         7
5309   999889         7

[5310 rows x 2 columns]

## Join

**[EXAMPLE]** Let's consider user to be loyal, if they made at least 5 orders. Output all orders of loyal users.

In [22]:
q = """
SELECT
    order_id,
    user_id,
    t2.category AS category
FROM db AS t1
INNER JOIN (
    SELECT
        user_id,
        "LOYAL" AS category
    FROM db
    GROUP BY user_id
    HAVING COUNT(*) >= 5
)AS t2 USING(user_id)
"""

print(psql.sqldf(q))

             order_id  user_id category
0    8844c5f00372df2c   624306    LOYAL
1    f84d465177e84bb4   252406    LOYAL
2    c629a1a0a8913790   337714    LOYAL
3    96f2d6069db8ad89   607597    LOYAL
4    fa47a8afc054461b   342492    LOYAL
..                ...      ...      ...
625  4ff3e350028d0cfc   258470    LOYAL
626  b21d2f86beb19214   759371    LOYAL
627  8526e0962a844e4a   145709    LOYAL
628  8eefcfdf5990e441   952675    LOYAL
629  c3e0c62ee91db8dc   646422    LOYAL

[630 rows x 3 columns]

In [23]:
q = """
SELECT
    order_id,
    user_id,
    t2.category AS category
FROM db AS t1
LEFT JOIN (
    SELECT
        user_id,
        "LOYAL" AS category
    FROM db
    GROUP BY user_id
    HAVING COUNT(*) >= 5
)AS t2 USING(user_id)
"""

print(psql.sqldf(q))

              order_id  user_id category
0     c8b783b9d0a80c01   288981     None
1     1a04f965818a8533    73078     None
2     d58cc99982459ca8   840231     None
3     d28a3097fa7cf63a   941870     None
4     99ba5c4097c6b8fe    78581     None
...                ...      ...      ...
9995  ba1b3eba322eab5d   763283     None
9996  c3e0c62ee91db8dc   646422    LOYAL
9997  82edc5c9e2103567   492140     None
9998  0ed9422357395a0d   851960     None
9999  9308b0d6e5898366   787508     None

[10000 rows x 3 columns]

In [24]:
q = """
SELECT
    order_id,
    user_id,
    t2.category AS category
FROM db AS t1
RIGHT JOIN (
    SELECT 
        user_id,
        "LOYAL" AS category
    FROM db
    GROUP BY user_id
    HAVING COUNT(*) >= 5
)AS t2 USING(user_id)
"""

print(psql.sqldf(q))

             order_id  user_id category
0    8844c5f00372df2c   624306    LOYAL
1    f84d465177e84bb4   252406    LOYAL
2    c629a1a0a8913790   337714    LOYAL
3    96f2d6069db8ad89   607597    LOYAL
4    fa47a8afc054461b   342492    LOYAL
..                ...      ...      ...
625  4ff3e350028d0cfc   258470    LOYAL
626  b21d2f86beb19214   759371    LOYAL
627  8526e0962a844e4a   145709    LOYAL
628  8eefcfdf5990e441   952675    LOYAL
629  c3e0c62ee91db8dc   646422    LOYAL

[630 rows x 3 columns]

**[TASK 7]** Find orders of users that have both card and cardless orders

In [25]:
q = """
SELECT
    user_id, order_id
FROM
(SELECT
    user_id
FROM db
GROUP BY user_id
HAVING SUM(card_id IS NULL) > 0 AND SUM(card_id IS NOT NULL) > 0) AS x
INNER JOIN db AS y USING(user_id)
"""

print(psql.sqldf(q))

      user_id          order_id
0      288981  c8b783b9d0a80c01
1      840231  d58cc99982459ca8
2       78581  99ba5c4097c6b8fe
3      624306  8844c5f00372df2c
4      252406  f84d465177e84bb4
...       ...               ...
3939   219838  1579779b98ce9edb
3940   823422  851ddf5058cf22df
3941    26786  64223ccf70bbb65a
3942   646422  c3e0c62ee91db8dc
3943   787508  9308b0d6e5898366

[3944 rows x 2 columns]

**[TASK 8]** For each order display its absolute diff between its amount and min amount of the user

In [35]:
q = """
SELECT 
    user_id,
    amount - MIN(amount)
FROM db
GROUP BY user_id
"""

print(psql.sqldf(q))

      user_id  amount - MIN(amount)
0         700                   0.0
1         956                   0.0
2         975                   0.0
3        1183                   0.0
4        1386                   0.0
...       ...                   ...
5305   999428                   0.0
5306   999591                   0.0
5307   999663                   0.0
5308   999750                   0.0
5309   999889                   0.0

[5310 rows x 2 columns]

**[TASK 9]** For each user find chronologically first order_id

In [36]:
q = """
SELECT
    x.user_id,
    dttm, 
    order_id
FROM db AS x
INNER JOIN (
    SELECT 
        user_id, MIN(dttm) as min_dttm
    FROM db
    GROUP BY user_id) AS y ON x.user_id = y.user_id AND x.dttm = y.min_dttm
"""

print(psql.sqldf(q))

      user_id                 dttm          order_id
0      288981  2022-09-07 03:08:15  c8b783b9d0a80c01
1       73078  2022-09-05 21:50:53  1a04f965818a8533
2      840231  2022-09-07 21:07:51  d58cc99982459ca8
3       78581  2022-09-12 02:08:12  99ba5c4097c6b8fe
4      546767  2022-09-12 12:01:27  a012869311d64a44
...       ...                  ...               ...
5305    26786  2022-09-09 20:12:24  64223ccf70bbb65a
5306   716011  2022-09-01 19:21:33  cf866614b6b18cda
5307   182635  2022-09-17 23:29:01  e57c6b956a6521b2
5308   492140  2022-09-17 01:21:43  82edc5c9e2103567
5309   851960  2022-09-14 17:30:54  0ed9422357395a0d

[5310 rows x 3 columns]

## Window functions

**[EXAMPLE]** For each order display its number for the user

In [43]:
q = """
SELECT
    order_id,
    user_id,
    dttm,
    ROW_NUMBER() OVER w AS order_rank
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm)
LIMIT 5
"""

print(psql.sqldf(q))

           order_id  user_id                 dttm  order_rank
0  d27b95cac4c27feb      700  2022-09-02 12:11:16           1
1  bd4a6d0563e06045      700  2022-09-16 20:49:01           2
2  6fe6a8a6e6cb7105      700  2022-09-20 22:04:14           3
3  46771d1f432b4234      956  2022-09-04 05:48:28           1
4  d93ed5b6db83be78      956  2022-09-17 17:27:43           2

**[EXAMPLE]** For each order display running total amount per user

In [57]:
q = """
SELECT
    order_id,
    user_id,
    LAG(order_id, 1) OVER w AS prev_order
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm)
LIMIT 5
"""

print(psql.sqldf(q))

           order_id  user_id        prev_order
0  d27b95cac4c27feb      700              None
1  bd4a6d0563e06045      700  d27b95cac4c27feb
2  6fe6a8a6e6cb7105      700  bd4a6d0563e06045
3  46771d1f432b4234      956              None
4  d93ed5b6db83be78      956  46771d1f432b4234

**[TASK]** For each order display if it is more expensive than previous one (function `LAG`, `LEAD`)

In [74]:
q = """
SELECT 
    user_id,
    order_id,
    amount,
    CASE
        WHEN diff_amount > 0
            THEN "TRUE"
        ELSE "FALSE"
    END AS ISBIGGER_AMOUNT
FROM
(SELECT
    user_id,
    order_id,
    amount,
    amount - LAG(amount, 1) OVER w AS diff_amount
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm)
)
"""

print(psql.sqldf(q))

      user_id          order_id  amount ISBIGGER_AMOUNT
0         700  d27b95cac4c27feb  351.80           FALSE
1         700  bd4a6d0563e06045  343.33           FALSE
2         700  6fe6a8a6e6cb7105  331.83           FALSE
3         956  46771d1f432b4234  333.24           FALSE
4         956  d93ed5b6db83be78  377.99            TRUE
...       ...               ...     ...             ...
9995   999663  8c5b18cbdfd35320  364.91            TRUE
9996   999663  4f5a9bf135f28535  363.05           FALSE
9997   999750  ac4e7a4f341e7281  335.91           FALSE
9998   999750  30dd22174d06b0cd  341.82            TRUE
9999   999889  28d6abf291fdd1f2  353.26           FALSE

[10000 rows x 4 columns]

**[TASK 10]** For each order display if it is the last order

In [97]:
q = """
SELECT
    user_id,
    order_id,
    next
FROM
(SELECT
    user_id,
    order_id,
    LEAD(order_id) OVER w AS next
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm))
WHERE next IS NULL
"""

print(psql.sqldf(q))

      user_id          order_id  next
0         700  6fe6a8a6e6cb7105  None
1         956  d93ed5b6db83be78  None
2         975  964d180ea80d672a  None
3        1183  211b39255232ab59  None
4        1386  e7d4c8d4fe04d9b4  None
...       ...               ...   ...
5305   999428  88340338e0a0cdc5  None
5306   999591  7d5430cf85f78c4b  None
5307   999663  4f5a9bf135f28535  None
5308   999750  30dd22174d06b0cd  None
5309   999889  28d6abf291fdd1f2  None

[5310 rows x 3 columns]

**[TASK 11]** For each order user display the first order

In [96]:
q = """
SELECT
    user_id,
    order_id,
    prev
FROM
(SELECT
    user_id,
    order_id,
    LAG(order_id) OVER w AS prev
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm))
WHERE prev IS NULL
"""

print(psql.sqldf(q))

      user_id          order_id  prev
0         700  d27b95cac4c27feb  None
1         956  46771d1f432b4234  None
2         975  c3c59e5f8b3e9753  None
3        1183  211b39255232ab59  None
4        1386  dbec0010cebb295f  None
...       ...               ...   ...
5305   999428  88340338e0a0cdc5  None
5306   999591  aa108f56a10e75c1  None
5307   999663  a118806694c9d9b1  None
5308   999750  ac4e7a4f341e7281  None
5309   999889  28d6abf291fdd1f2  None

[5310 rows x 3 columns]

**[TASK 12]** Display all users who had orders on two consecutive days

In [116]:
q = """
SELECT
    user_id
FROM
(SELECT
    user_id, 
    order_id,
    DATEDIFF(dttm, (LAG(dttm) OVER w) AS diff_time
FROM db
WINDOW w AS (PARTITION BY user_id))
WHERE diff_time == 1
"""

print(psql.sqldf(q))

PandaSQLException: (sqlite3.OperationalError) near "AS": syntax error
[SQL:
SELECT
    user_id
FROM
(SELECT
    user_id,
    order_id,
    DATEDIFF(dttm, (LAG(dttm) OVER w) AS diff_time
FROM db
WINDOW w AS (PARTITION BY user_id))
WHERE diff_time == 1
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

**[TASK 13]** Find all orders of users who never decreased amounts of orders (each order is more expensive or equal to the previous one)

In [105]:
q = """
SELECT
    order_id
FROM
(SELECT
    user_id,
    order_id,
    - amount + LEAD(amount) OVER w AS diff_amount
FROM db
WINDOW w AS (PARTITION BY user_id ORDER BY dttm))
WHERE diff_amount > 0
"""
print(psql.sqldf(q))

              order_id
0     46771d1f432b4234
1     aaf2979785deb278
2     2990cb071c6413d6
3     4639475d6782a08c
4     375c71349b295fbe
...                ...
2291  09eb27dec1a45d92
2292  92fde850d824c2ba
2293  aa108f56a10e75c1
2294  a118806694c9d9b1
2295  ac4e7a4f341e7281

[2296 rows x 1 columns]